body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

a {
    color: red;
    text-decoration: none;
}

h1, h2 {
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #ff0000;
}
