/* Общие стили */
@font-face {
  font-family: 'CustomFont';
  src: url('assets/font.otf');
}

#menu-container {
  /* Желательно задать какие-то гарантированные размеры или адаптивную высоту */
  /* Пример: width: 100%; min-height: 100vh; и т.д. — зависит от вашей задумки */
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
}

@media (min-width: 1025px) {


  .desctop-container {
    position: relative;
    /* "Эталонный" размер, под который ты сверстал всё в px */
    width: 1080px;   
    height: 1920px;  /* к примеру, высота  (портрет) */
    transform-origin: top left; /* чтобы масштаб шёл из левого верхнего угла */
    margin: 0 auto;  /* если хочешь по центру на более широком экране */
  }
  
  .desctop-container {
    transform: scale(calc(100vw / 1080));
  }

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: black;
  font-family: 'CustomFont', Arial, sans-serif;
  overflow: auto;
}

/* Интро */
#intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#intro-video {
  width: 100%;
  height: auto;
}

/* Главное меню */
#menu-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: none; /* По умолчанию скрыто */
  background-image: url("assets/menu_bg.png");
}

#menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#menu-bg-mobail-img {
  display: none;
}

/* Шапка с именем и статусом */
#header {
  position: absolute;
  top: 20px;
  left: 50px;
  display: flex;
  font-size: 22px;
}

#condition {
  margin-left: 50px;
  font-size: 20px;
  color: #00FF00;
}

/* Область health.gif */
#health {
  position: absolute;
  top: 95px;
  right: 1186.5px;
  width: 170.99px;
  height: 170.99px;
}

/* Область EQUIP */
#equip {
  position: absolute;
  top: 65px;
  right: 738.5px;
  width: 170px;
  height: 170px;
}

#equip img {
  width: 100%;
  height: 100%;
}

/* Инвентарь */
#inventory {
  position: absolute;
  top: 220px;
  right: 304px;
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(2, 191px);
    grid-template-rows: auto;
    row-gap: 20px;
    align-content: stretch;
    justify-content: space-between;
    justify-items: center;
    
}

.inventory-item {
  width: 121px;
  height: 121px;
  cursor: pointer;
}

.inventory-item.selected {
  border: 2px solid red;
}

/* Превью предмета */
#item-preview {
  position: absolute;
  bottom: 140px; /* Фиксированное положение относительно нижнего края */
  left: 29%; /* Центрирование по горизонтали */
  transform: translateX(-50%); /* Смещение на половину ширины для точного центрирования */
  width: 500px; /* Ширина контейнера */
  text-align: center; /* Центровка содержимого по горизонтали */
}

/* Изображение превью */
#preview-image {
  position: relative;
  display: block;
  right: -205px;
  width: 450px; /* Фиксированная ширина для всех GIF */
}

/* Описание превью */
#preview-description {
  font-size: 30px;
  height: 40px;
  color: #fff; /* Цвет текста */
  text-align: left;
}

/* Основной контейнер кнопок */
#menu-buttons {
  position: absolute;
  top: 14px;
  left: 74.4%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

/* Главная кнопка "Портфолио" */
.menu-btn {
  background: transparent;
  color: white;
  padding: 20px 80px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
}

.menu-btn.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 0, 128, 0.6), transparent);
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.8);
}

/* Подкнопки */
.sub-buttons {
  display: flex;
  gap: 12px;
  left: -1px;
  position: absolute;
  top: 102px;
}

.sub-btn {
  background: transparent;
  color: white;
  padding: 21px 35px;
  font-size: 25.5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  left: 3px;
}

.sub-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sub-btn.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 0, 128, 0.6), transparent);
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.8);
}


/* Скрываем секции по умолчанию */
#about-section,
#contact-section {
  position: absolute;
  top: 282px;
  left: 24%;
  transform: translateX(-31%);
  display: none; /* Скрыто по умолчанию */
  z-index: 5; /* Убедимся, что PNG выше других элементов */
}

#about-section img,
#contact-section img {
  max-width: 82.5%;
  height: auto;
  display: block;
  margin: 0 auto;
}
}

/* Адаптивная версия для мобильных устройств */
@media (max-width: 767px) and (orientation: portrait) {

  .mobile-container {
    position: relative;
    /* "Эталонный" размер, под который ты сверстал всё в px */
    width: 414px;   
    height: 896px;  /* к примеру, высота iPhone 11 (портрет) */
    transform-origin: top left; /* чтобы масштаб шёл из левого верхнего угла */
    margin: 0 auto;  /* если хочешь по центру на более широком экране */
  }
  
  .mobile-container {
    transform: scale(calc(100vw / 414));
  }


  body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
    font-family: 'CustomFont', Arial, sans-serif;
    overflow: auto;
  }

  /* Интро */
#intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#intro-video {
  width: 100%;
  height: auto;
}

/* Главное меню */
#menu-container {
  position: relative;
  width: 592px;
  height: auto;
}

#menu-bg-mobail-img {
  position: relative;
  top: 0;
  left: -1px;
  width: 420px;
  object-fit: cover;
  display: block;
}

#menu-bg {
  display: none;  /* Прячем десктопную на маленьких экранах */
}

/* Шапка с именем и статусом */
#header {
  position: absolute;
  top: 20px;
  left: 50px;
  display: flex;
  font-size: 22px;
}

#condition {
  margin-left: 50px;
  font-size: 20px;
  color: #00FF00;
}

/* Область health.gif */
#health {
  position: absolute;
  top: 48px;
  right: 322px;
  width: 181px;
}

#health img {
  width: 107px; /* Установите желаемую ширину */
  height: auto; /* Установите желаемую высоту */
  object-fit: cover; /* Это свойство поможет при масштабировании */
}


/* Область EQUIP */
#equip {
  position: relative;
  top: -295px;
  right: -221px;
  width: 96px;
  height: 170px;
}

#equip img {
  width: 60px;
  height: auto;
  display: flex;
}

/* Инвентарь */
#inventory {
  position: absolute;
  top: 91px;
  right: 155px;
  width: 143px;
  z-index: 7;
}

.inventory-grid {
    display: grid;
    row-gap: 5px;
    align-content: stretch;
    justify-items: center;
    grid-template-columns: 56px 56px;
}

.inventory-item {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.inventory-item.selected {
  border: 1px solid red;
}

.inventory-item img {
  width: 100%;
  height: 100%; /* или auto, в зависимости от того, как ты хочешь масштабировать */
  object-fit: contain; /* чтобы не обрезало картинку */
}


/* Превью предмета */
#item-preview {
  position: absolute;
  bottom: 253px; /* Фиксированное положение относительно нижнего края */
  left: 265px; /* Центрирование по горизонтали */
  transform: translateX(-50%); /* Смещение на половину ширины для точного центрирования */
  width: 512px; /* Ширина контейнера */
  text-align: center; /* Центровка содержимого по горизонтали */
  display: flex;
}

/* Изображение превью */
#preview-image {
  position: relative;
  display: flex;
  right: -58px;
  width: 160px; /* Фиксированная ширина для всех GIF */
}

/* Описание превью */
#preview-description {
  position: absolute;
  font-size: 11px;
  height: 26px;
  color: #fff; /* Цвет текста */
  text-align: left;
  top: 148px;
}

/* Основной контейнер кнопок */
#menu-buttons {
  position: absolute;
  top: 25px;
  left: 351px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Главная кнопка "Портфолио" */
.menu-btn {
  background: transparent;
  color: white;
  padding: 4px 22.5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  z-index: 5;
}

.menu-btn.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 0, 128, 0.6), transparent);
  z-index: -1;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.8);
}

/* Подкнопки */
.sub-buttons {
  display: flex;
  gap: 3.5px;
  left: -30px;
  position: absolute;
  top: -2.3px;
  padding: 31px 31px;
}

.sub-btn {
  background: transparent;
  color: white;
  padding: 4.3px 4.6px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  left: -1px;
  white-space: nowrap;
}

.sub-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sub-btn.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 0, 128, 0.6), transparent);
  z-index: -1;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.8);
}


/* Скрываем секции по умолчанию */
#about-section,
#contact-section {
  position: absolute;
  top: 107px;
  left: 311px;
  transform: translateX(-31%);
  display: none; /* Скрыто по умолчанию */
  z-index: 5; /* Убедимся, что PNG выше других элементов */
}

#about-section img,
#contact-section img {
  position: relative;
  max-width: 367px;
  height: auto;
  display: block;
  margin: auto;
  left: -237px;
}
}

@media (max-width: 1024px) and (orientation: landscape) {
 
  .mobile-container {
    width: 896px;
    height: 414px;
    transform-origin: top left;
    transform: scale(calc(100vw / 896));
  }

  
  body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
    font-family: 'CustomFont', Arial, sans-serif;
    overflow: auto;
  }

  /* Интро */
#intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#intro-video {
  width: 100%;
  height: auto;
}

/* Главное меню */
#menu-container {
  position: relative;
  width: 592px;
  height: auto;
}

#menu-bg-mobail {
  position: relative; 
  /* тогда #menu-bg-mobail-img может быть position: absolute, 
     и его top/left будут отталкиваться от #menu-bg-mobail */
}

#menu-bg-mobail-img {
  position: absolute;
  top: 0;
  left: -1px;
  width: 420px;
  object-fit: cover;
}

#menu-bg {
  display: none;  /* Прячем десктопную на маленьких экранах */
}

/* Шапка с именем и статусом */
#header {
  position: absolute;
  top: 20px;
  left: 50px;
  display: flex;
  font-size: 22px;
}

#condition {
  margin-left: 50px;
  font-size: 20px;
  color: #00FF00;
}

/* Область health.gif */
#health {
  position: absolute;
  top: 48px;
  right: 322px;
  width: 181px;
}

#health img {
  width: 107px; /* Установите желаемую ширину */
  height: auto; /* Установите желаемую высоту */
  object-fit: cover; /* Это свойство поможет при масштабировании */
}


/* Область EQUIP */
#equip {
  position: relative;
  top: -295px;
  right: -221px;
  width: 96px;
  height: 170px;
}

#equip img {
  width: 60px;
  height: auto;
  display: flex;
}

/* Инвентарь */
#inventory {
  position: absolute;
  top: 91px;
  right: 155px;
  width: 143px;
  z-index: 7;
}

.inventory-grid {
    display: grid;
    row-gap: 5px;
    align-content: stretch;
    justify-items: center;
    grid-template-columns: 56px 56px;
}

.inventory-item {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.inventory-item.selected {
  border: 1px solid red;
}

.inventory-item img {
  width: 100%;
  height: 100%; /* или auto, в зависимости от того, как ты хочешь масштабировать */
  object-fit: contain; /* чтобы не обрезало картинку */
}


/* Превью предмета */
#item-preview {
  position: absolute;
  bottom: 253px; /* Фиксированное положение относительно нижнего края */
  left: 265px; /* Центрирование по горизонтали */
  transform: translateX(-50%); /* Смещение на половину ширины для точного центрирования */
  width: 512px; /* Ширина контейнера */
  text-align: center; /* Центровка содержимого по горизонтали */
  display: flex;
}

/* Изображение превью */
#preview-image {
  position: relative;
  display: flex;
  right: -58px;
  width: 160px; /* Фиксированная ширина для всех GIF */
}

/* Описание превью */
#preview-description {
  position: absolute;
  font-size: 11px;
  height: 26px;
  color: #fff; /* Цвет текста */
  text-align: left;
  top: 148px;
}

/* Основной контейнер кнопок */
#menu-buttons {
  position: absolute;
  top: 25px;
  left: 351px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Главная кнопка "Портфолио" */
.menu-btn {
  background: transparent;
  color: white;
  padding: 4px 22.5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  z-index: 5;
}

.menu-btn.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 0, 128, 0.6), transparent);
  z-index: -1;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.8);
}

/* Подкнопки */
.sub-buttons {
  display: flex;
  gap: 3.5px;
  left: -30px;
  position: absolute;
  top: -2.3px;
  padding: 31px 31px;
}

.sub-btn {
  background: transparent;
  color: white;
  padding: 4.3px 4.6px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  left: -1px;
  white-space: nowrap;
}

.sub-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sub-btn.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 0, 128, 0.6), transparent);
  z-index: -1;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.8);
}


/* Скрываем секции по умолчанию */
#about-section,
#contact-section {
  position: absolute;
  top: 107px;
  left: 311px;
  transform: translateX(-31%);
  display: none; /* Скрыто по умолчанию */
  z-index: 5; /* Убедимся, что PNG выше других элементов */
}

#about-section img,
#contact-section img {
  position: relative;
  max-width: 367px;
  height: auto;
  display: block;
  margin: auto;
  left: -237px;
}

}

/* Планшеты */
@media (min-width: 768px) and (max-width: 1024px) {

  body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
    font-family: 'CustomFont', Arial, sans-serif;
    overflow: hidden;
  }

  /* Интро */
  #intro-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  #intro-video {
    width: 100%;
    height: auto;
  }
  
  /* Главное меню */
  #menu-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: none; /* По умолчанию скрыто */
  }
  
  #menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Шапка с именем и статусом */
  #header {
    position: absolute;
    top: 20px;
    left: 50px;
    display: flex;
    font-size: 22px;
  }
  
  #condition {
    margin-left: 50px;
    font-size: 20px;
    color: #00FF00;
  }
  
  /* Область health.gif */
  #health {
    position: absolute;
    top: 95px;
    right: 1186.5px;
    width: 170.99px;
    height: 170.99px;
  }
  
  /* Область EQUIP */
  #equip {
    position: absolute;
    top: 65px;
    right: 738.5px;
    width: 170px;
    height: 170px;
  }
  
  #equip img {
    width: 100%;
    height: 100%;
  }
  
  /* Инвентарь */
  #inventory {
    position: absolute;
    top: 225px;
    right: 305px;
  }
  
  .inventory-grid {
      display: grid;
      grid-template-columns: repeat(2, 191px);
      row-gap: 20px;
      align-content: stretch;
      justify-content: space-between;
      justify-items: center;
      
  }
  
  .inventory-item {
    width: 120px;
    height: 120px;
    cursor: pointer;
  }
  
  .inventory-item.selected {
    border: 2px solid red;
  }
  
  /* Превью предмета */
  #item-preview {
    position: absolute;
    bottom: 140px; /* Фиксированное положение относительно нижнего края */
    left: 29%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Смещение на половину ширины для точного центрирования */
    width: 500px; /* Ширина контейнера */
    text-align: center; /* Центровка содержимого по горизонтали */
  }
  
  /* Изображение превью */
  #preview-image {
    position: relative;
    display: block;
    right: -205px;
    width: 450px; /* Фиксированная ширина для всех GIF */
  }
  
  /* Описание превью */
  #preview-description {
    font-size: 30px;
    height: 40px;
    color: #fff; /* Цвет текста */
    text-align: left;
  }
  
  /* Основной контейнер кнопок */
  #menu-buttons {
    position: absolute;
    top: 14px;
    left: 74.4%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  
  /* Главная кнопка "Портфолио" */
  .menu-btn {
    background: transparent;
    color: white;
    border: 4px solid blue;
    padding: 20px 80px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .menu-btn.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 0, 128, 0.6), transparent);
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 128, 0.8);
  }
  
  /* Подкнопки */
  .sub-buttons {
    display: flex;
    gap: 12px;
    left: -1px;
    position: absolute;
    top: 102px;
  }
  
  .sub-btn {
    background: transparent;
    color: white;
    border: 4px solid blue;
    padding: 21px 35px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
    left: 3px;
  }
  
  .sub-btn:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .sub-btn.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 0, 128, 0.6), transparent);
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 128, 0.8);
  }
  
  
  /* Скрываем секции по умолчанию */
  #about-section,
  #contact-section {
    position: absolute;
    top: 282px;
    left: 24%;
    transform: translateX(-31%);
    display: none; /* Скрыто по умолчанию */
    z-index: 5; /* Убедимся, что PNG выше других элементов */
  }
  
  #about-section img,
  #contact-section img {
    max-width: 82.5%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  }